{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Centro Comercial Cacique</title>
    <link rel="stylesheet" href="{% static 'css/comercial.css'%}">
</head>
<body>
    <header>
        <h1>Centro Comercial Cacique</h1>
    </header>

    <main>
        <div class="centro">
            <div class="info">
                <ul>
                    <li><strong>Ubicación:</strong> Tv. 93 #34-99, Sotomayor, Bucaramanga</li>
                    <li><strong>Teléfono:</strong> 76917722</li>
                    <li><strong>Horario:</strong> 8 a.m - 9 p.m</li>
                    <li><strong>Descripción:</strong> Centro comercial de acero y cristal de 4 niveles con hotel, centro de negocios y unos 1,600 estacionamientos.</li>
                </ul>
                <a href="index.html" class="boton">Volver</a>
            </div>
            <img src="imagenes/cacique.jpg" alt="Centro Comercial Cacique">
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - Sitio web educativo sobre centros comerciales del área metropolitana de Bucaramanga.</p>
    </footer>
</body>
</html>