{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Centro Comercial Parque Caracolí</title>
    <link rel="stylesheet" href="{% static 'css/comercial.css'%}">
</head>
<body>
    <header>
        <h1>Centro Comercial Parque Caracolí</h1>
    </header>

    <main>
        <div class="centro">
            <div class="info">
                <ul>
                    <li><strong>Ubicación:</strong> Cañaveral, entrada autopista, Floridablanca</li>
                    <li><strong>Teléfono:</strong> (607) 6978551</li>
                    <li><strong>Horario:</strong> 9 a.m - 9 p.m</li>
                    <li><strong>Descripción:</strong> Centro comercial moderno con tiendas de marca y shows en vivo.</li>
                </ul>
                <a href="index.html" class="boton">Volver</a>
            </div>
            <img src="imagenes/caracoli.jpg" alt="Centro Comercial Parque Caracolí">
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - Sitio web educativo sobre centros comerciales del área metropolitana de Bucaramanga.</p>
    </footer>
</body>
</html>