{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Centro Comercial Cuarta Etapa</title>
    <link rel="stylesheet" href="{% static 'css/comercial.css'%}">
</head>
<body>
    <header>
        <h1>Centro Comercial Cuarta Etapa</h1>
    </header>

    <main>
        <div class="centro">
            <div class="info">
                <ul>
                    <li><strong>Ubicación:</strong> Cra. 35A #49-55, Bucaramanga</li>
                    <li><strong>Teléfono:</strong> 76430812</li>
                    <li><strong>Horario:</strong> 8:30 a.m - 8:30 p.m</li>
                    <li><strong>Descripción:</strong> Centro comercial antiguo con restaurantes, tiendas de ropa y artículos del hogar.</li>
                </ul>
                <a href="index.html" class="boton">Volver</a>
            </div>
            <img src="imagenes/cuarta etapa.webp" alt="Centro Comercial Cuarta Etapa">
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - Sitio web educativo sobre centros comerciales del área metropolitana de Bucaramanga.</p>
    </footer>
</body>
</html>