{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Delacuesta Centro Comercial</title>
    <link rel="stylesheet" href="{% static 'css/comercial.css'%}">
</head>
<body>
    <header>
        <h1>Delacuesta Centro Comercial</h1>
    </header>

    <main>
        <div class="centro">
            <div class="info">
                <ul>
                    <li><strong>Ubicación:</strong> Refugio, Piedecuesta</li>
                    <li><strong>Teléfono:</strong> 323 2264151</li>
                    <li><strong>Horario:</strong> 10 a.m - 8 p.m</li>
                    <li><strong>Descripción:</strong> Centro comercial diferente con nuevas formas de comprar.</li>
                </ul>
                <a href="index.html" class="boton">Volver</a>
            </div>
            <img src="imagenes/de la cuesta.webp" alt="Delacuesta Centro Comercial">
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - Sitio web educativo sobre centros comerciales del área metropolitana de Bucaramanga.</p>
    </footer>
</body>
</html>