{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Centro Comercial La Florida</title>
    <link rel="stylesheet" href="{% static 'css/comercial.css'%}">
</head>
<body>
    <header>
        <h1>Centro Comercial La Florida</h1>
    </header>

    <main>
        <div class="centro">
            <div class="info">
                <ul>
                    <li><strong>Ubicación:</strong> Cl. 31 #26A-19, Cañaveral, Floridablanca</li>
                    <li><strong>Teléfono:</strong> (607) 6187068</li>
                    <li><strong>Horario:</strong> 9 a.m - 8 p.m</li>
                    <li><strong>Descripción:</strong> Experiencias en el Mall, terraza 360 y zona de juegos BOX360.</li>
                </ul>
                <a href="index.html" class="boton">Volver</a>
            </div>
            <img src="imagenes/la florida.jpg" alt="Centro Comercial La Florida">
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - Sitio web educativo sobre centros comerciales del área metropolitana de Bucaramanga.</p>
    </footer>
</body>
</html>