{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>La Quinta Centro Comercial</title>
    <link rel="stylesheet" href="{% static 'css/comercial.css'%}">
</head>
<body>
    <header>
        <h1>La Quinta Centro Comercial</h1>
    </header>

    <main>
        <div class="centro">
            <div class="info">
                <ul>
                    <li><strong>Ubicación:</strong> Cra. 36 #49-45, Bucaramanga</li>
                    <li><strong>Teléfono:</strong> 320 8352896</li>
                    <li><strong>Horario:</strong> 8 a.m - 10 p.m</li>
                    <li><strong>Descripción:</strong> Fusión de elegancia y tranquilidad con marcas exclusivas y oferta gastronómica.</li>
                </ul>
                <a href="index.html" class="boton">Volver</a>
            </div>
            <img src="imagenes/la quinta.jpg" alt="La Quinta Centro Comercial">
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - Sitio web educativo sobre centros comerciales del área metropolitana de Bucaramanga.</p>
    </footer>
</body>
</html>