{% extends 'base.html'%}
{% block container %}

<header>
    <h1>Centros Comerciales del Área Metropolitana de Bucaramanga</h1>
</header>

{% for centro_comercial in centros_comerciales %}
    <div class="centro">
        <div class="info">
            <h3>Centro Comercial {{centro_comercial.nombre}}</h3>
            <ul>
                <li><strong>Ciudad:</strong> {{centro_comercial.ciudad}}</li>
                <li><strong>Ubicación:</strong> {{centro_comercial.direccion}}</li>
                <li><strong>Teléfono:</strong> {{centro_comercial.telefono}}</li>
                {% if centro_comercial.descripcion %}
                    <li><strong>Descripción:</strong> {{centro_comercial.descripcion}}</li>
                {% else %}
                    <li><strong>Descripción:</strong> Visita nuestro nuevo centro comercial</li>
                {% endif %}
                
            </ul>
            <a href="{% if centro_comercial.url %} {{ centro_comercial.url }} {% else %} # {% endif %}" target="blank" class="boton">Sitio Web Oficial</a>
            <a href="{% url 'myapp:vista_centro_comercial' centro_comercial.nombre%}" target="blank" class="boton">Ver Tiendas</a>
        </div>
    </div>
{% endfor %}

{% endblock %}