{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Centro Comercial Megamall</title>
    <link rel="stylesheet" href="{% static 'css/comercial.css'%}">
</head>
<body>
    <header>
        <h1>Centro Comercial Megamall</h1>
    </header>

    <main>
        <div class="centro">
            <div class="info">
                <ul>
                    <li><strong>Ubicación:</strong> Cra. 33 #29-15, Bucaramanga</li>
                    <li><strong>Teléfono:</strong> (607) 6340020</li>
                    <li><strong>Horario:</strong> 8 a.m - 10 p.m</li>
                    <li><strong>Descripción:</strong> Centro comercial con varias tiendas, patio de comidas, cine y zona infantil.</li>
                </ul>
                <a href="index.html" class="boton">Volver</a>
            </div>
            <img src="imagenes/megamol.jpeg" alt="Centro Comercial Megamall">
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - Sitio web educativo sobre centros comerciales del área metropolitana de Bucaramanga.</p>
    </footer>
</body>
</html>