{% extends 'base.html'%}
{% block container %}


<header>
    <h1>Tiendas del Centro Comercial {{ centro_comercial.nombre }}</h1>
    <h4>{{centro_comercial.ciudad}}</h4>
</header>

{% for tienda in tiendas %}
    <div class="centro">
        <div class="info">
            <h3>Tienda {{tienda.nombre}}</h3>
            <ul>
                <li><strong>Centro Comercial:</strong> {{tienda.centro_comercial}}</li>
                <li><strong>Categoria:</strong> {{tienda.categoria}}</li>
                <li><strong>Horario Apertura:</strong> {{tienda.horario_apertura}}</li>
                <li><strong>Horario Cierre:</strong> {{tienda.horario_cierre}}</li>
            </ul>

            <a href="{% if   tienda.url %} {{ tienda.url }} {% else %} # {% endif %}" target="_blank" class="boton">Sitio Web Oficial</a>
        </div>
    </div>
{% endfor %}
    
{% endblock %}